
.topnav {
  overflow: hidden;
  margin: 3.5%;
  .element{
    float: left;
    display: block;
    color: #000000;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    &:hover{
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 5px;
    }
  }
  .header-logo {
    float: left;
  }
  .icon{
    display: none;
  }
  .main-navbar {
    display: flex !important;
    float: right;
  }
}
@media screen and (max-width: 1180px){
  body{
    padding: 0 30px;
    border: 2px solid green;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    .element{
      display: none;
    }
    .header-logo{
      img{
        width: 103px;
      }
    }
    .box-icon{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        background-color: white;
        color:#ff0000 ;
        display: block;
        border-radius: 5px;
        i{
          font-size: 22px;
        }
      }
    }
  }
  .topnav.responsive {
    .element {
      display: block;
      color: white;
      font-weight: 700;
      border-bottom: 0.5px solid;
    }
    .main-navbar{
      display: block;
      display: flex;
      flex-direction: column;
      background-color: #232323;
      border-radius: 5px;
      width: 86%;
      position: absolute;
      left: 29px;
      z-index: 10;
      opacity: 0.9;
      height: 94%;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .topnav.responsive{
    a{
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 540px) {
  
}

