
.topnav {
  overflow: hidden;
  margin: 3.5%;
  .element{
    float: left;
    display: block;
    color: #000000;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    &:hover{
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 5px;
    }
  }
  .header-logo {
    float: left;
  }
  .icon{
    display: none;
  }
  .main-navbar {
    display: flex ;
    float: right;
  }
}

// //Smartwatches devices
// @media screen and (max-width: 320px){
//   body{
//     background-color: violet;
//   }
// }

// //Smaller devices devices
// @media  screen and (max-width: 420px){
//   body{
//     background-color:orange;
//   }
  
//   .main-navbar{
//     height: 113%;
//   }
// }

// //phone devices
// @media screen and (max-width: 600px){
//   body{
//     background-color:red;
//   }
// }

// // Tablets and Large Phones
// @media screen and (max-width: 667px){
//   .main-navbar{
//     width: 91% !important;
//   }
// }

// @media screen and (max-width: 896px){
//   .main-navbar{
//     width: 95% !important;
//   }
// }
// // Tablets 
// @media screen and (min-width: 768px){
  
// }



@media  screen and (max-width: 1181px){
  body{
    padding: 0 30px;
  
  .topnav {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    .main-navbar{
      display: none;
    }
    .elemnt-responsive{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .element{
        border-bottom: 1px solid white;
        color: white;
        font-size: 14px;
        letter-spacing : 2px,
      }
    }
    .header-logo{
      img{
        width: 103px;
      }
    }
    .box-icon{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        background-color: white;
        color:#ff0000 ;
        display: block;
        border-radius: 5px;
        i{
          font-size: 22px;
        }
      }
    }
  }
    .element {
      display: block;
      color: white;
      font-weight: 700;
      border-bottom: 0.5px solid;
    }
    .main-navbar{
      display: block;
      display: flex;
      flex-direction: column;
      background-color: #232323;
      border-radius: 5px;
      width: 86%;
      position: absolute;
      left: 29px;
      z-index: 10;
      opacity: 0.9;
      height: 300%;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .topnav.responsive{
    a{
      font-size: 16px;
    }
  }
}


